doctype html
html
    head
        title Get a Dad Joke
    body
        h1 Fetch a Dad Joke
        form(action='/ps4/promise-random-joke' method='post')
            button(type='submit') Get a Joke
